:root {
  --primary-color: #efefef;
  --secondary-color: #bfbfbf;
  --hyperlink: #ff8833;
  --text-color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-color);
  margin-bottom: 2rem;
  margin: 0 auto;
  max-width: 65%;
  color: var(--text-color);
}

/* utilities */
.py-1 {
  padding: 0.5rem 0;
}
.py-2 {
  padding: 1rem 0;
}
.py-3 {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: var(--hyperlink);
}

a:hover {
  color: var(--secondary-color);
}

.sect {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  margin: 0 2rem;
}

.sect-lead {
  border-right: var(--secondary-color) 2px solid;
}

.sect-detail {
}

.title-1 {
  margin: 1rem 0;
}

.title-2 {
  text-decoration: underline;
}

.responsibilities {
  list-style: square;
  padding: 0 1rem;
}

.list-2 {
  list-style: lower-latin;
  padding: 0 1rem;
}

#education,
#employment,
#volunteering,
#skills,
#training,
#research,
#memberships,
#achievement,
#references {
  text-align: justify;
}

/* navigation */

.nav {
  justify-content: center;
  position: fixed;
  top: 200px;
  left: 10px;
  /* list-style: none; */
}

/* personal info */

.heading {
  margin: auto;
  display: flex;
  align-items: center;
  /* background: var(--secondary-color); */
  height: 100vh;
}

#personal-info ul {
  list-style: none;
}

#personal-info h2,
#personal-info ul li {
  margin-bottom: 1rem;
}

.h-image,
.h-text {
  padding: 0 2rem;
}

.h-image {
  flex: 1;
  border-right: var(--secondary-color) 2px solid;
}

.h-text {
  flex: 1;
  padding-right: 0;
  text-align: left;
}

img {
  /* margin: 1rem; */
  position: relative;
  width: 100%;
}

/* main */
/* .split {
  position: sticky;
  background: var(--secondary-color);
  width: 2px;
  height: 100px;
  top: 0;
  left: 562px;
  z-index: -1;
} */

/* eduction */

#education ol,
#education p {
  margin-bottom: 1rem;
}

#education span {
  font-weight: bold;
}

/* references */
#references ul {
  list-style: none;
}

@media (min-width: 769px) {
  body {
    max-width: 75%;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 75%;
    padding: 1rem 2rem;
  }
  /* navbar */

  .nav {
    display: none;
  }

  /* head */
  #personal-info .heading {
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* margin: auto; */
  }

  .h-image {
    padding: 0.5rem 2rem;
    border: none;
  }

  img {
    position: static;
    width: 100%;
  }

  .h-text {
    padding: 0;
    border-top: 2px solid var(--secondary-color);
    text-align: center;
  }

  #personal-info h2,
  #personal-info ul li {
    margin-bottom: 0;
  }

  /* sections */
  .sect {
    display: flex;
    flex-direction: column;
  }

  .sect:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  .sect-lead {
    border-right: none;
    border-bottom: 1px solid var(--secondary-color);
    margin: 1rem 0;
  }
}

@media (max-width: 500px) {
  body {
    max-width: 100%;
    padding: 1rem;
  }
}
