:root {
  --primary-color: #1a5580;
  --secondary-color: #267fbf;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-color);
  margin-bottom: 2rem;
  margin: 0 auto;
  max-width: 65%;
  color: #f4f4f4;
}

/* utilities */
.py-1 {
  padding: 0.5rem 0;
}
.py-2 {
  padding: 1rem 0;
}
.py-3 {
  padding: 2rem 0;
}

a {
  text-decoration: none;
  color: #ff8833;
}

a:hover {
  color: var(--secondary-color);
}

.sect {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  margin: 0 2rem;
}

.sect-lead {
  border-right: #ccc 2px solid;
}

.sect-detail {
}

.title-1 {
  margin: 1rem 0;
}

.title-2 {
  text-decoration: underline;
}

.responsibilities {
  list-style: square;
  padding: 0 1rem;
}

.list-2 {
  list-style: lower-latin;
  padding: 0 1rem;
}

#education,
#employment,
#volunteering,
#skills,
#training,
#research,
#memberships,
#achievement,
#references {
  text-align: justify;
}

/* personal info */
#personal-info {
  margin: 0 -6rem;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  border: 1px solid red;
}

#personal-info ul {
  list-style: none;
  text-align: center;
}

.heading {
  height: 100vh;
}

.h-image,
.h-text {
  padding: 0 2rem;
}

.h-image {
  border-right: #ccc 2px solid;
}

img {
  /* margin: 1rem; */
  width: 100%;
}

/* eduction */

#education ol,
#education p {
  margin-bottom: 1rem;
}

#education span {
  font-weight: bold;
}

/* references */
#references ul {
  list-style: none;
}

@media (min-width: 1100px) {
  body {
    max-width: 50%;
  }
}

@media (max-width: 768px) and (min-width: 501px) {
  body {
    max-width: 100%;
    padding: 1rem 2rem;
  }
}

@media (max-width: 500px) {
  body {
    max-width: 100%;
    padding: 1rem;
  }
}
